/*------------------------------- disseny per movils ----------------------------------------- */

/* For mobile phones: utilitzem un disseny amb 1 columna*/
[class*="col-"] {width: 100%;}
* {box-sizing: border-box;} /*indica al navegador que tingui en compte qualsevol vora en el valor que s'especifiqui per a l'amplada i l'alçada, normalment es fica quan tenim 1 columna */

@media only screen and (max-width: 599px) { /*definim amplada máxima */

  /* For tablets: utilitzem un disseny amb 12 columnes degut a l'amplada d'una tablet*/
  [class*="col-"] {float: left;}

  .col-ss-1 {width: 8.33%;}
  .col-ss-2 {width: 16.66%;}
  .col-ss-3 {width: 25%;}
  .col-ss-4 {width: 31.83%;} /* 33.33% - 1.5% (due to margin-right) */
  .col-ss-5 {width: 41.66%;}
  .col-ss-6 {width: 50%;}
  .col-ss-7 {width: 58.33%;}
  .col-ss-8 {width: 66.66%;}
  .col-ss-9 {width: 75%;}
  .col-ss-10 {width: 83.33%;}
  .col-ss-11 {width: 91.66%;}
  .col-ss-12 {width: 100%;}

  img {display: none;}

  .email {
    float: right;
    width: 100%;
  }
  .name {
    float: left;
    width: 100%;
  }
  .textArticlesIndex {
    width: 98%; 
    margin-left: 1%; 
    margin-top: 10%;
  }
  .textArticlesProducts {
    width: 98%; 
    margin-left: 1%; 
    margin-top: 1%;
  }
  main {
    height: 60em;
  }
  #articleIndex {
    height: 14em;
  }
  #articleProducts {
    height: 6.5em;
  }
  html {
    font-size: small;
    width: 100%;
    height: 100%;
    background-color: #E1E1E1;
  }
}
   
html {
  font-family: sans-serif;
  padding: 1em;
}

#gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:40em;
  width:100%;
}
#after_submit {
  display: none;
}
h1 {
  font-family: sans-serif;
  font-size: larger;
}
header {
  background-color: white;
  color: white;
  padding: 0em;
  max-width: 100%;
  border-radius: .5em;
}
.center-fit {
  display: grid;
  margin: auto;
  max-width: 100%;
}
#other, #shortcuts, #other1 #other2 {display: none;}
#special-links {
  border: thin solid black;
  border-radius: .5em;
  padding: 1em;
  margin-top: 1em;
  background-color: white;
}
#price {
  float: right;
  font-weight: bold;
}
#price2 {
  float: right;
  font-weight: bold;
  color: red;
}
article {
  border: thin solid black;
  border-radius: .7em;
  padding: 0em;
  margin-top: 1em;
  margin-right: 0.4em;
  background-color: white;
}
h1 {
  color: black;
  padding-bottom: .5em;
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {text-decoration: underline;}
footer {
  background-color: black;
  color: white;
  font-size: smaller;
  line-height: 2;
  text-align: center;
  padding: 1.5em;
  border-radius: .5em;
  margin-top: 1em;
}
#fotoMenu {
  width: 40%;
}


/*------------------------------- disseny per Tablets ----------------------------------------- */

@media only screen and (min-width: 600px) { /*definim amplada máxima */

  /* For tablets: utilitzem un disseny amb 12 columnes degut a l'amplada d'una tablet*/
  [class*="col-"] {float: left;}

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 31.83%;} /* 33.33% - 1.5% (due to margin-right) */
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
  .email {
    float: right;
    width: 45%;
  }
  .name {
    float: left;
    width: 45%;
  }

  #shortcuts {display: block;}
  #shortcuts {
    background-color: black;
    color: white;
    font-size: larger;
    text-align: center;
    display: table;
    padding: 1em;
    margin-top: 0em;
    max-width: 100%;
  }
  html {
    font-size: small;
    background-color: white;
  }
  article {
    border: thin solid black;
    border-radius: .7em;
    padding: 0em;
    margin-top: 1em;
    margin-right: 0em;
    background-color: white;
  }
  section {
    margin-right: 0em;
  }
  #shortcuts ul {
    display: flex;
    justify-content: space-around;
  }
  #fotoMenu {
    width: 40%;
  }
  #textArticles {
    width: 59%; 
    display: inline-block;
  }
  #consultImage {
    width: 20%;
  }
  #other2 {display: none;}
}


/*------------------------------- disseny per desktop ----------------------------------------- */

@media only screen and (min-width: 800px) {
  /* For desktop:  utilitzem un disseny amb 12 columnes amb alguna variació del % per adaptarlo millor */
   #articles {margin-right: 1.5%;}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 23.5%;} /* 25% - 1.5% (due to margin-right) */
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 48.5%;} /* 50% - 1.5% (due to margin-right) */
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .email {
    float: right;
    width: 45%;
  }
  .name {
    float: left;
    width: 45%;
  }

  html {background-color: white; font-size: medium;}
  h1 {font-family: 'Roboto', sans-serif; margin-top: 0.2em;}
  article {
    border: thin solid black;
    border-radius: .7em;
    padding: 0em;
    margin-top: 1em;
    margin-right: 0.4em;
    background-color: white;
  }
  #special-links {
    border: none;
    background-color: white;
  }
  #consultDiv {
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #E2E2E2;
  }
  #consultImage {
    width: 20%;
  }
  #other {
    display: block;
   }
  #other1 {
    position: fixed;
    display: block;
    top: 14em;
    right: 5em;
  } 
  #other2 {
    display: block;
    top: 14em;
    right: 5em;
  }   
  #fotoMenu {
    width: 40%;
  }
  #textArticles {
    width: 59%; 
    display: inline-block;
  }
}

@media only screen and (max-width: 991px) {
  html {font-size: small;}
}

/* Contact style */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

#contactoh1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  #contactoh1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  #contactoh1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}